@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --side-bar-width: 240px;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.main-container {
  @apply flex min-h-screen flex-col md:flex-row;
}

.sidebar {
  @apply bg-gray-800 text-white flex-shrink-0;
  width: var(--side-bar-width);
  height: auto;
  @apply md:fixed md:top-0 md:left-0 md:h-screen;
}

.content {
  @apply flex-grow;
  margin-left: 0; /* Default margin to 0 */
  @apply md:ml-[var(--side-bar-width)];
}

.full-screen-content {
  width: 100%;
  height: 100%;
  margin-left: 0; /* Ensures no margin from the sidebar */
}

/* Sidebar should be full width on small screens */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: static;
    @apply flex-row justify-around items-center;
  }
}
