/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/*===== GENERAL =====*/

:root {
  
    /*========== Colors ==========*/
    --background-color: #E6E6E6;
    --button-color: #EA3546;

    --text-gray-color: #898989;

    /*========== Font and typography ==========*/
    --body-font: 'Figtree', sans-serif;

    --side-bar-width: 150px;
}

/**** DEFAULTS ****/

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--side-bar-width);
    height: 100vh;
    background-color: #F6F8FA;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    z-index: 100;
}

  .option {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: width 0.5s ease, border-radius 0.5s; /* Transition width only */
    background-color: #F6F8FA;
    height: 18vh;
    min-height: 90px;
    gap: 0px;
    z-index: 101;
    margin-bottom: 5px;
  }

  .option:hover {
    width: 220px;
    border-radius: 0px 80px 80px 0px;
    flex-direction: row;
      gap: 18px;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

  }

  .option img {
    width: 70px;
    margin-left: 10px;
  }

  .option-title {
    color: black;
    font-size: 100%;
    font-weight: 700;
    margin: 0;
  }