/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/*===== GENERAL =====*/

:root {
  
    /*========== Colors ==========*/
    --background-color: #E6E6E6;
    --button-color: #EA3546;

    --text-gray-color: #898989;

    /*========== Font and typography ==========*/
    --body-font: 'Figtree', sans-serif;

    --side-bar-width: 150px;
}

/**** DEFAULTS ****/

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--side-bar-width);
    height: 100vh;
    background-color: #F6F8FA;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    z-index: 100;
}

  .option {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: width 0.5s ease, border-radius 0.5s; /* Transition width only */
    background-color: #F6F8FA;
    height: 18vh;
    min-height: 90px;
    gap: 7px;
    z-index: 101;
    
  }

  .option:hover {
    width: 220px;
    border-radius: 0px 80px 80px 0px;
    flex-direction: row;
      gap: 18px;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

  }

  .option img {
    width: 70px;
    margin-left: 10px;
  }

  .option-title {
    color: black;
    font-size: 120%;
    font-weight: 700;
  }

  .logo-img {
    width: 110px;
    align-self: center;
    cursor: pointer;
  }

/**** PAGES ****/
.page {
    display: none;
    left: calc(var(--side-bar-width));
    height: 100vh;
    /* padding: 1rem 2rem; */
    width: calc(100% - var(--side-bar-width));
}

.active {
    display: block;
}

/**** HOME ****/

.login-div {
    padding-right: 3rem;
    padding-left: 3rem;

}

.home-img {
    width: 40%;
    margin: 20px;
}

#enter-button {
    background-color: rgb(47, 197, 97);
    border-style: solid;
    border-color: white;
    border-width: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 80px;
    border-radius: 50px;
    padding: 10px;
    font-size: 200%;
    font-weight: 600;
    font-family: var(--body-font);
    transition: all 0.4s;
    cursor: pointer;
    align-self: center;
    justify-self: center;
    top:0px;
}

#enter-button:hover {
    background-color: rgb(82, 202, 122);
    scale:1.1;
}


#home-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
  .half-width {
    flex: 1;
    width: 50%;
  }

h1 {
    font-size: 2rem;
    font-weight: 600;
    transition: all 0.4s;
}

.big {
    font-size: 5rem;
    font-weight: 900;
}

.glowing-border {
    border: 2px solid #dadada;
    border-radius: 7px;
}

.glowing-border:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.login {
    font-size: 24px; 
    padding: 20px; 
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    /* border: 1px solid black; */
    height: 65%;
    width: 40%;
  }
  
#login-frame{
    border-radius: 5px;
    width: 100%;
    height: 100%;

  }

  #accom-frame, #list-frame, #add-item-frame, #schedule-frame {
    width: 100%;
    height: 100%;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--side-bar-width);
    height: 100vh; /* 100% of the viewport height */
    background-color: rgba(255, 255, 255, 0.5); /* semi-transparent background */
    z-index: 200; /* on top of everything */
  }


